* {
    max-height: calc(100vh - 5vw);
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#menu {
    z-index: 25;
    position: fixed;
    width: 100vw;
    height: 5vw;
    border-bottom: thick solid #76A840;
    background-color: #fff;
    -webkit-box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
    box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
}

#logo {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
}

.opcionesNavegacionPC {
    z-index: 35;
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 80%;
    font-size: 1.5vw;
    font-weight: bold;

}

.opcionesNavegacionPC > a {
    text-decoration: none !important;
    color: #76A840;
}

.opcionesNavegacionPC > a:hover {
    text-decoration: none !important;
    color: black !important;
}

#botonNavegacion {
    display: none; /*---- Botón deshabilitado temporalmente ---*/
    position: absolute;
    top: 10%;
    right: 5%;
    height: 80%;
}

#idioma {
    display: none; /*---- Botón deshabilitado temporalmente ---*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 10%;
    height: 80%;
    font-size: 2vw;
    font-weight: bold;
    color: black;
}

#carrusel {
    top: 5vw;
    height: calc(100vh - 5vw);
    background-image: url("../img/ayuda/fondo_ayuda.jpg");
    background-position: center;
    background-size: cover;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    margin: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
}

.carousel-indicators .active {
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
}

.item img {
    padding: 2% 0;
}

.OcultarSiPC, .OcultarSiMovil {
    display: none !important;
}

@media (max-width: 768px) {
    * {
        max-height: calc(100vh - 10vw);
    }

    #menu {
        height: 10vw;
    }

    #idioma {
        right: 15%;
        font-size: 3vw;
    }

    #carrusel {
        top: 10vw;
        height: calc(100vh - 10vw);
    }

    .item img {
        padding: 2% 0 4% 0;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    * {
        max-height: calc(100vh - 7.5vw);
    }

    #menu {
        height: 7.5vw;
    }

    #carrusel {
        top: 7.5vw;
        height: calc(100vh - 7.5vw);
    }
}

@media (max-width: 425px) {
    * {
        max-height: calc(100vh - 15vw);
    }

    #menu {
        height: 15vw;
    }

    #logo {
        top: 20%;
        height: 60%;
    }

    #idioma {
        right: 16%;
        font-size: 4vw;
    }

    #botonNavegacion {
        top: 20%;
        height: 60%;
    }

    #carrusel {
        top: 15vw;
        height: calc(100vh - 15vw);
    }

    .item img {
        padding: 5% 0;
        height: 88vh !important;
    }
}

/*-------------------- Menú deslizable --------------------*/
#fondoNegativo {
    z-index: 20 !important;
}

@media (max-width: 768px) {
    .cd-stretchy-nav ul a {
        font-size: 2.4rem !important;
    }

    .cd-stretchy-nav .stretchy-nav-bg {
        top: -0.5% !important;
    }

    .cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
        height: 98% !important;
    }

    .cd-nav-trigger {
        top: 0.25vw !important;
    }
}