* {
    max-height: 100vh;
}

#carrusel {
    height: 100vh;
    background-image: url("../img/ayuda/ayuda_web_back.jpg");
    background-position: center;
    background-size: cover;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    margin: 0;
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
}

.carousel-indicators .active {
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
}

.item img {
    padding: 5%;
}

@media (orientation: portrait) and (max-width: 425px){
    .item img {
        margin-top: 10vh;
    }
}