/*-------------------- Estilos globales --------------------*/
body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 5%;
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
    color: #5E8633;
}

h2 {
    margin-top: 5%;
    font-size: 2.25vw;
    color: #5E8633;
}

p {
    line-height: 2vw;
    font-size: 1.5vw;
    text-align: justify;
}

span {
    font-weight: bold;
}

a {
    color: #5E8633;
}

ol, ul {
    font-size: 1.5vw;
    list-style-type: lower-latin;
}

li {
    margin: 0.25% 0;
}

#botonSubir {
    display: none;
    position: fixed;
    right: 2vw;
    bottom: 5vh;
    background: #5E8633;
    border-radius: 3vw;
    outline: none;
    padding: 1.25vw;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
}

#copyright {
    margin-top: 10%;
    font-size: 1.69vw;
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3.25vw;
    }

    p {
        line-height: 3vw;
        font-size: 2.5vw;
    }

    ol, ul {
        font-size: 2.5vw;
    }

    #botonSubir {
        display: none;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 7.5vw;
        background: #5E8633;
        border-radius: 0;
        outline: none;
        padding: 1.25vw;
        text-align: center;
        font-size: 7.5vw;
        color: #fff;
        cursor: pointer;
    }

    #copyright {
        margin-bottom: 10vw;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4.25vw;
    }

    p {
        line-height: 4vw;
        font-size: 3.5vw;
    }

    ol, ul {
        font-size: 3.5vw;
    }
}

/*-------------------- Política de privacidad y Cabecera--------------------*/
header {
    position: absolute;
    left: 0;
}

#menu {
    position: absolute;
    width: 95vw;
    height: 10vw;
    max-height: 20vh;
}

#logo {
    position: absolute;
    left: 5%;
    top: 25%;
    height: 50%;
}

#botonNavegacion {
    position: absolute;
    right: 5%;
    top: 25%;
    height: 50%;
    display: none; /*---- Botón deshabilitado temporalmente ---*/
}

#idioma {
    position: absolute;
    right: 12.5%;
    top: 25%;
    height: 50%;
    display: none; /*---- Botón deshabilitado temporalmente ---*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

#menuBajado {
    height: 5vw;
}

.MenuBajadoFijado {
    z-index: 2;
    position: fixed;
    width: 100vw;
    border-bottom: thick solid #76A840;
    background-color: #fff;
    -webkit-box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
    box-shadow: 0 0.05vw 2.5vw 0.05vw rgba(0, 0, 0, 0.75);
    -webkit-animation: all 0.5s both;
    -moz-animation: all 0.5s both;
    animation: all 0.5s both;
    animation-name: menu;
}

@keyframes menu {
    from {
        opacity: 0;
        top: -10%;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

#logoBajado {
    position: absolute;
    left: 5%;
    top: 10%;
    height: 80%;
}

#botonNavegacionBajado {
    position: absolute;
    right: 5%;
    top: 10%;
    height: 80%;
    display: none; /*---- Botón deshabilitado temporalmente ---*/

}

#idiomaBajado {
    position: absolute;
    right: 10%;
    top: 10%;
    height: 80%;
    display: none; /*---- Botón deshabilitado temporalmente ---*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    color: black;
}

.OcultarSi {
    display: none;
}

@media (max-width: 768px) {
    #menu {
        height: 15vw;
    }

    #idioma {
        right: 15%;
        font-size: 4vw;
    }

    #menuBajado {
        height: 10vw;
    }

    #idiomaBajado {
        right: 15%;
        font-size: 3vw;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    #menuBajado {
        height: 7.5vw;
    }
}

@media (max-width: 425px) {
    header {
        max-height: 50vw;
    }

    #menu {
        background-color: white;
    }

    #idioma {
        right: 17.5%;
        color: black;
    }

    #menuBajado {
        height: 15vw;
    }

    #logoBajado {
        top: 20%;
        height: 60%;
    }

    #idiomaBajado {
        right: 16%;
        font-size: 4vw;
    }

    #botonNavegacionBajado {
        top: 20%;
        height: 60%;
    }
}

#menuCondiciones {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuCondiciones h1 {
    margin: 0;
    font-size: 7vw;
    text-decoration: none;
    color: #5E8633;
}

#menuCondiciones p {
    margin: 5%;
    line-height: 3vw;
    font-size: 2.5vw;
}

#menuCondiciones section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Boton {
    text-decoration: none;
}

.Boton input {
    outline: none;
    border-radius: 4vw;
    border-color: #5E8633;
    padding: 1vw;
    background: transparent;
    font-size: 2.5vw;
    font-weight: bold;
    color: #5E8633;
    cursor: pointer;
}

.Boton input:hover {
    background: #5E8633;
    color: #ffffff;
}

#botonIzquierdo {
    margin-right: 5%;
}

@media (max-width: 768px) {
    #menuCondiciones p {
        margin: 5% 0;
        line-height: 4vw;
        font-size: 3.5vw;
        text-align: justify;
    }

    .Boton input {
        border-radius: 6vw;
        padding: 1.5vw;
        font-size: 2.7vw;
    }
}

@media (max-width: 425px) {
    #menuCondiciones p {
        line-height: 5vw;
        font-size: 4.5vw;
    }

    #menuCondiciones section {
        flex-direction: column;
        align-items: center;
    }

    .Boton input {
        border-radius: 8vw;
        padding: 2vw 11vw;
        font-size: 3.5vw;
    }

    #botonIzquierdo {
        margin: 0 0 2.5vh 0;
    }

    #botonDerecho input {
        padding: 2vw 24vw;
    }
}

/*-------------------- Política de cookies y Aviso legal --------------------*/
#seccionMargen {
    padding-top: 10vw;
}

@media (max-width: 768px) {
    #seccionMargen {
        padding-top: 15vw;
    }
}
