/* Header */
.portada {
    width: 100%;
}

.logo {
    width: 25%;
    position: absolute;
    left: 5%;
    top: 5.25%;
}

.btn-nav {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 12.5%;
    width: auto;
    opacity: 1;
}

.banner{
    padding: 0 5%;
}

.banner h1 {
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8em;
}

.banner p {
    font-style: italic;
    color: rgb(94, 134, 51);
    font-weight: bold;
}

.tiendas {
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.android {
    height: 35%;
    width: 35%;
}

.ios {
    height: 41%;
    width: 41%;
}

.compartirRedesSociales p {
    font-weight: bold;
    margin: 2%;
    text-align: center;
}

.socialShare {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.socialShare div, .socialShare a {
    margin: 0 2%;
}

@media (max-width: 728px) {
    .logo {
        width: 50%;
        top: 5.5%;
    }

    .btn-nav {
        content: url("../img/menu_despl.png");
        height: 6.75%;
        top: 5%;
    }

    .banner h1 {
        text-align: center;
        padding: 0 5%;
    }

    .banner p {
        text-align: center;
        padding: 0 5%;
    }

    .tiendas {
        display: inline-block;
        text-align: center;
    }

    .android {
        margin-right: 5%;
        height: auto;
        width: 25%;
    }

    .ios {
        height: auto;
        width: 30%;
    }
}

@media (min-width: 728px) and (max-width: 940px) {
    .logo {
        width: 50%;
    }

    .btn-nav {
        content: url("../img/menu_despl@2x.png");
        height: 8.25%;
    }

    .banner h1 {
        text-align: center;
        padding: 0 5%;
    }

    .banner p {
        text-align: center;
        padding: 0 5%;
    }

    .tiendas {
        display: inline-block;
        text-align: center;
    }

    .android {
        margin-right: 5%;
        height: auto;
        width: 25%;
    }

    .ios {
        height: auto;
        width: 30%;
    }
}

/*section*/

.tituloDeSeccion1 {
    background-color: #5E8533;
    text-align: center;
    font-weight: 900;
    color: #ffffff !important;
    height: 160px;
    margin-bottom: 2.5%;
}

.tituloDeSeccion1 h1 {
    line-height: 160px;
    font-size: 50px;
}

/*divisiones*/

.espacio1, .espacio2, .espacio3, .espacio4 p {
    font-size: 25px;
    color: #B5B4B4;
    line-height: 30px;
    text-align: justify;
    vertical-align: top;
    display: table-cell;
    padding: 2.5%;
}

.containerSeccion1 ul {
    list-style: none;
    color: #5E8533;
    text-align: center;
}

.containerSeccion1 {
    padding: 2.5%;
}

/*logos*/
.logoSecP1, .logoSecP3, .logoSecP4 {
    position:relative;
    width: auto;
    height: 200px;
    padding-left: 30%;
}

.logoSecP2{
    position:relative;
    width: auto;
    height: 200px;
    padding-left: 45%;
}

/*Seccion 2 titulo*/

.tituloDeSeccion2 {
    background-color: #E7E7E7;
    text-align: center;
    font-weight: 900;
    color: #55782E !important;
    height: 160px;
    margin-bottom: 2.5%;
}

.tituloDeSeccion2 h1 {
    line-height: 160px;
    font-size: 50px;
}

.logoSecS1, .logoSecS2, .logoSecS3 {
    width: 90%;
    height: auto;
    display: block;
    text-align: center;
}

.container2, .espacio5, .espacio6, .espacio7, .seccionSegunda2 {
    background-color: #E7E7E7;
    margin-bottom: 1%;
    padding-left: 3%;
}

.container2 h3 {
    color: #5E8533;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5%;
}

@media (max-width: 1170px) and (min-width: 920px) {

    .logoSecP1{
        content:url("../img/icono_recomendacion@2x.png");
    }
    .logoSecP2{
        content:url("../img/icono_camaras@2x.png");
    }
    .logoSecP3{
        content:url("../img/icono_recomendacion@2x.png");;
    }
    .logoSecP4{
        content:url("../img/icono_pez@2x.png");
    }
    .logoSecS1{
        content:url("../img/360@2x.png");
    }
    .logoSecS2{
        content:url("../img/sub@2x.png");
    }
    .logoSecS3{
        content:url("../img/comunidad@2x.png");
    }
    .logoSecP1, .logoSecP3, .logoSecP4 {
        padding-left:  40%;
    }
    .logoSecP2 {
        padding-left:  45%;
    }
    .espacio1, .espacio2, .espacio3, .espacio4 {
        margin-top: 5%;
    }
    .espacio1, .espacio2, .espacio3, .espacio4 p{
        padding: 0 10%;
    }

}
@media (max-width: 920px) and (min-width: 768px) {

    .logoSecP1{
        content:url("../img/icono_recomendacion.png");
    }
    .logoSecP2{
        content:url("../img/icono_camaras.png");
    }
    .logoSecP3{
        content:url("../img/icono_recomendacion.png");;
    }
    .logoSecP4{
        content:url("../img/icono_pez.png");
    }
    .logoSecS1{
        content:url("../img/360.png");
    }
    .logoSecS2{
        content:url("../img/sub.png");
    }
    .logoSecS3{
        content:url("../img/comunidad.png");
    }
    .logoSecP1, .logoSecP3, .logoSecP4 {
        paddingleft: 40%;
    }
    .logoSecP2 {
        padding-left:  45%;
    }
    .espacio1, .espacio2, .espacio3, .espacio4 {
        margin-top: 5%;
    }
    .espacio1, .espacio2, .espacio3, .espacio4 p{
        padding: 0 10%;
    }
}

/* Footer */
footer {
    text-align: center;
    background: rgb(94, 134, 51);
    padding: 2% 0 0 0;
}

footer .icon-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

footer .icon-container .f-icon {
    width: 1.5%;
    height: auto;
}

footer .icon-container .f-facebook {
    background: url(../img/facebook@3x.png) no-repeat center center;
}

footer .icon-container .f-twitter {
    background: url(../img/f-twitter.png) no-repeat center center;
}

footer .icon-container .f-google-plus {
    background: url(../img/f-google-plus.png) no-repeat center center;
}

footer .icon-container .f-linkedin {
    background: url(../img/f-linkedin.png) no-repeat center center;
}

footer .icon-container .f-pinterest {
    background: url(../img/f-pinterest.png) no-repeat center center;
}

footer .icon-container .f-linkedin {
    background: url(../img/f-linkedin.png) no-repeat center center;
}

footer .icon-container .f-instagram {
    background: url(../img/f-instagram.png) no-repeat center center;
}
footer .icon-container .f-youtube {
    background: url(../img/f-youtube.png) no-repeat center center;
}
footer .icon-container .f-vimeo {
    background: url(../img/f-vimeo.png) no-repeat center center;
}