/*---------- Gradilla de letra responsive ----------*/

/*----- Orientación horizontal -----*/
@media (orientation: landscape) and (min-width: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: landscape) and (max-width: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: landscape) and (max-width: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: landscape) and (max-width: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: landscape) and (max-width: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: landscape) and (max-width: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: landscape) and (max-width: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: landscape) and (max-width: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: landscape) and (max-width: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: landscape) and (max-width: 3584px) {
    body {
        font-size: 64px;
    }
}
@media (orientation: landscape) and (max-width: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: landscape) and (max-width: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: landscape) and (max-width: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: landscape) and (max-width: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: landscape) and (max-width: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: landscape) and (max-width: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: landscape) and (max-width: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: landscape) and (max-width: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: landscape) and (max-width: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: landscape) and (max-width: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: landscape) and (max-width: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: landscape) and (max-width: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: landscape) and (max-width: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: landscape) and (max-width: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: landscape) and (max-width: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: landscape) and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: landscape) and (max-width: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: landscape) and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: landscape) and (max-width: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: landscape) and (max-width: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: landscape) and (max-width: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: landscape) and (max-width: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: landscape) and (max-width: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: landscape) and (max-width: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: landscape) and (max-width: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: landscape) and (max-width: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: landscape) and (max-width: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: landscape) and (max-width: 256px) {
    body {
        font-size: 5px;
    }
}

/*----- Orientación vertical -----*/
@media (orientation: portrait) and (max-height: 7681px) {
    body {
        font-size: 114px;
    }
}
@media (orientation: portrait) and (max-height: 7680px) {
    body {
        font-size: 104px;
    }
}
@media (orientation: portrait) and (max-height: 7131px) {
    body {
        font-size: 99px;
    }
}
@media (orientation: portrait) and (max-height: 6582px) {
    body {
        font-size: 94px;
    }
}
@media (orientation: portrait) and (max-height: 6034px) {
    body {
        font-size: 89px;
    }
}
@media (orientation: portrait) and (max-height: 5485px) {
    body {
        font-size: 84px;
    }
}
@media (orientation: portrait) and (max-height: 4937px) {
    body {
        font-size: 79px;
    }
}
@media (orientation: portrait) and (max-height: 4388px) {
    body {
        font-size: 74px;
    }
}
@media (orientation: portrait) and (max-height: 3840px) {
    body {
        font-size: 69px;
    }
}
@media (orientation: portrait) and (max-height: 3584px) {
    body {
        font-size: 64px;
    }
}
@media (orientation: portrait) and (max-height: 3328px) {
    body {
        font-size: 59px;
    }
}
@media (orientation: portrait) and (max-height: 3072px) {
    body {
        font-size: 54px;
    }
}
@media (orientation: portrait) and (max-height: 2816px) {
    body {
        font-size: 49px;
    }
}
@media (orientation: portrait) and (max-height: 2560px) {
    body {
        font-size: 44px;
    }
}
@media (orientation: portrait) and (max-height: 2432px) {
    body {
        font-size: 42px;
    }
}
@media (orientation: portrait) and (max-height: 2304px) {
    body {
        font-size: 40px;
    }
}
@media (orientation: portrait) and (max-height: 2176px) {
    body {
        font-size: 38px;
    }
}
@media (orientation: portrait) and (max-height: 2048px) {
    body {
        font-size: 36px;
    }
}
@media (orientation: portrait) and (max-height: 1920px) {
    body {
        font-size: 34px;
    }
}
@media (orientation: portrait) and (max-height: 1792px) {
    body {
        font-size: 32px;
    }
}
@media (orientation: portrait) and (max-height: 1664px) {
    body {
        font-size: 30px;
    }
}
@media (orientation: portrait) and (max-height: 1536px) {
    body {
        font-size: 28px;
    }
}
@media (orientation: portrait) and (max-height: 1408px) {
    body {
        font-size: 26px;
    }
}
@media (orientation: portrait) and (max-height: 1280px) {
    body {
        font-size: 24px;
    }
}
@media (orientation: portrait) and (max-height: 1152px) {
    body {
        font-size: 22px;
    }
}
@media (orientation: portrait) and (max-height: 1024px) {
    body {
        font-size: 20px;
    }
}
@media (orientation: portrait) and (max-height: 896px) {
    body {
        font-size: 18px;
    }
}
@media (orientation: portrait) and (max-height: 768px) {
    body {
        font-size: 16px;
    }
}
@media (orientation: portrait) and (max-height: 640px) {
    body {
        font-size: 14px;
    }
}
@media (orientation: portrait) and (max-height: 608px) {
    body {
        font-size: 13px;
    }
}
@media (orientation: portrait) and (max-height: 576px) {
    body {
        font-size: 12px;
    }
}
@media (orientation: portrait) and (max-height: 480px) {
    body {
        font-size: 11px;
    }
}
@media (orientation: portrait) and (max-height: 470px) {
    body {
        font-size: 10px;
    }
}
@media (orientation: portrait) and (max-height: 460px) {
    body {
        font-size: 9px;
    }
}
@media (orientation: portrait) and (max-height: 426px) {
    body {
        font-size: 8px;
    }
}
@media (orientation: portrait) and (max-height: 392px) {
    body {
        font-size: 7px;
    }
}
@media (orientation: portrait) and (max-height: 358px) {
    body {
        font-size: 6px;
    }
}
@media (orientation: portrait) and (max-height: 256px) {
    body {
        font-size: 5px;
    }
}


/*---------- Estilos Generales -------------*/

body{
    padding: 0 10% 10% 10%;
    font-family: 'Roboto', arial, serif;
}

.contenedorPrincipal{
    width: 100%;
    height: auto;
}

h1{
    color: #5DA2D9;
    margin-bottom: 5%;
    text-align: center;
     font-size: 1em;
    text-decoration: underline;
}

h2{
    color: #5DA2D9;
    margin: 5% 0 2.5% 0;
    font-size: .9em;
}

p{
    margin-bottom: 0.08in;
    text-align: justify;
    font-size: 0.7em;
    line-height: 1.5em;
}

span{
    font-weight: bold;
}

#copyright{
    margin-top: 10%;
    font-style: italic;
    font-weight: bold;
}

a{
    color: #5DA2D9;

}

/*--------------------- Estilos Politica de PRivacidad----------------------*/
#contPrinPoliPriva h1,#contPrinPoliPriva h2{
    color: #5E8633;
}

#menuCondiciones{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuCondiciones h1 {
    color: #5E8633;
    text-decoration: none;
}

#tituloDescripcion{
    text-align: justify;
}

#botonesRedireccion{
    margin-top: 8% ;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#botonesRedireccion a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    flex-basis: 45%;
    text-decoration: none;
}

.button {
    background: transparent;
    color: #5E8633;
    border-color: #5E8633;
    border-radius: 5px;
    font-size: 0.7em;
}

.button:hover {
    background: #5E8633;
    color: #ffffff;
}

.button:active {
    background: #5E8633;
    color: #ffffff;
}

#botonCondUso{
    width: 100%;
}

#botonPoliPriva{
    width: 100%;
}

@media(max-width: 1024px){

    #botonesRedireccion a {
        width: 60%;
        flex-basis: 60%;
        margin-bottom: 5%;
        text-decoration: none;
    }
    
    #botonesRedireccion{
        justify-content: center;
    }
}

@media (max-width: 640px) {
    #menuCondiciones {
        margin-top: -5%;
    }

    #tituloPortada {
        font-size: 1.7em;
    }

    #textoPortada {
        font-size: 1.15em;
        line-height: 1.25em;
    }

    #botonesRedireccion a {
        flex-basis: 100%;
        width: 100%;
        font-size: 1.5em;
    }
}