/*
 * -------------------- HEADER --------------------
 */
.seccionPortada {
    position: relative;
    margin-bottom: 5%;
}

.logo {
    width: 25.75%;
    position: absolute;
    left: 4.5%;
    top: 6.75%;
}

.botonNavegacion {
    position: absolute;
    right: 5.25%;
    top: 5.75%;
    height: 10.25%;
    width: auto;
}

.imagenPortada {
    width: 100%;
}

.logoMovil {
    position: absolute;
    left: 2%;
    bottom: -5%;
    width: 30%;
    height: auto;
}

@media (max-width: 940px) {
    .imagenPortada {
        content: url("../img/portadaAlargada.jpg");
    }

    .logoMovil {
        bottom: -5%;
        width: 45%;
        content: url("../img/mockup@2x.png");
    }

    .logo {
        content: url("../img/logo@2x.png");
        width: 50%;
    }

    .botonNavegacion {
        content: url("../img/menu_despl@2x.png");
        top: 6.75%;
    }
}

.seccionPortada2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.eslogan {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.eslogan h1 {
    color: rgb(92, 92, 92);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8em;
}

.eslogan p {
    font-style: italic;
    color: rgb(94, 134, 51);
    font-weight: bold;
    font-size: 1em;
}

.tiendas {
    flex: 0 10 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.android {
    width: 35%;
    height: auto;
}

.iOS {
    width: 40%;
    height: auto;
}

@media (max-width: 728px) {
    .seccionPortada2 h1 {
        text-align: center;
        padding: 0 15%;
    }

    .seccionPortada2 p {
        text-align: center;
        padding: 0 15%;
    }

    .tiendas {
        justify-content: center;
    }

    .android {
        width: 25%;
        height: auto;
        margin-right: 5%;
    }

    .iOS {
        width: 29%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .tiendas {
        margin: 2.5% 0;
    }
}

.seccionPortada3 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.seccionPortada3 div, .seccionPortada3 a {
    margin: 0 2%;
}

/*
 * -------------------- SECTION 1 --------------------
 */
/* Fuentes */
p {
    font-family: 'Roboto', arial, serif;
}

.claseTemporal h1 {
    font-family: 'Roboto-Black', arial, serif;
}

.titulosSeccionP h2 {
    font-family: 'Roboto-MediumItalic', arial, serif;
}

.tituloDeSeccion1 h1, .tituloDeSeccion2 p {
    font-family: 'Roboto-Black', arial, serif;
}

.titulosSeccionP {
    height: 110px;
}

.tituloDeSeccion1 {
    background-color: #5E8633;
    text-align: center;
    font-weight: 900;
    color: #ffffff !important;
    height: 160px;
    margin-bottom: 2.5%;
    width: 100%;
}

.tituloDeSeccion1 h1 {
    color: #ffffff;
    font-size: 50pt;
    line-height: 160px;
}

/* Divisiones */
.tituloDeSeccion2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 5%;
}

.espacio1, .espacio2, .espacio3, .espacio4 {
    color: #B5B4B4;
    line-height: 30px;
    vertical-align: top;
    display: table-cell;
    padding: 2.5% 0;

}

.espacio1 p, .espacio2 p, .espacio3 p, .espacio4 p {
    text-align: justify;
    display: inline-block;
    max-height: 10%;
    padding: 0 15%;
    font-size: 18pt;
}

.containerSeccion1 h2 {
    list-style: none;
    color: #5E8533;
    text-align: center;
    font-weight: 900;
}

.containerSeccion1 {
    padding: 2.5%;
}

/* Logos */
.logoSecP1, .logoSecP3, .logoSecP4 {
    position: relative;
    width: auto;
    height: 200px;
    margin: 2% 28%;
}

.logoSecP2 {
    position: relative;
    width: auto;
    height: 200px;
    margin: 2% 38%
}

/*
 * -------------------- SECTION 2 --------------------
 */
.tituloDeSeccion2 div {
    background-color: #E7E7E7;
    text-align: center;
    font-weight: 900;
    font-size: 50pt !important;
    color: #5E8633;
    margin-left: 1%;
}

.tituloDeSeccion2 h1 {
    line-height: 160px;
    color: #5E8633 !important;
    font-size: 50pt;
}

.seccionSegunda2 .row {
    margin-left: 2%;
}

.logoSecS1, .logoSecS2, .logoSecS3 {
    width: 90%;
    height: auto;
    display: block;
    text-align: center;
    margin-bottom: 10%;
}

.container2, .espacio5, .espacio6, .espacio7, .seccionSegunda2 {
    background-color: #E7E7E7;
    margin-bottom: 1%;
    padding-left: 0;
}

.container2 h3 {
    color: #5E8533;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5%;
}

@media (max-width: 1200px) {

    .logoSecS1, .logoSecS2, .logoSecS3 {
        /*position: absolute;  podría ser relative */
        width: 600px;
        height: auto;
        left: 100px;
        top: 50px;
        margin: 0 20% 10%;
    }

}

@media (max-width: 1440px) {
    .tituloDeSeccion2 h1, .tituloDeSeccion1 h1 {
        font-size: 40pt;
    }
}

@media (max-width: 991px) {

    .logoSecP1, .logoSecP3 {
        position: relative;
        width: 20%;
        height: auto;
        margin: 2% 42%;
    }

    .tituloDeSeccion2 p {
        font-size: 35pt !important;
    }

    .logoSecP4 {
        position: relative;
        width: 20%;
        height: auto;
        margin: 2% 40%;
    }

    .logoSecP2 {
        position: relative;
        width: 16%;
        height: auto;
        margin: 2% 44%;
    }

    .logoSecS1, .logoSecS2, .logoSecS3 {
        /*position: absolute;  podría ser relative */
        width: 500px;
        height: auto;
        left: 100px;
        top: 50px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .logoSecP1 {
        content: url("../img/icono_360@2x.png");
    }

    .logoSecP2 {
        content: url("../img/icono_camaras@2x.png");
    }

    .logoSecP3 {
        content: url("../img/icono_recomendacion@2x.png");
    }

    .logoSecP4 {
        content: url("../img/icono_pez@2x.png");
    }

    .logoSecS1 {
        content: url("../img/360@2x.png");
    }

    .logoSecS2 {
        content: url("../img/sub@2x.png");
    }

    .logoSecS3 {
        content: url("../img/comunidad@2x.png");
    }

}

@media (max-width: 767px) {

    .tituloDeSeccion1 {
        height: 80px;
        width: 100%;
    }

    .tituloDeSeccion2 p {
        font-size: 30pt !important;
    }

    .logoSecP1, .logoSecP3, .logoSecP4 {
        display: table;
        width: 140px;
        margin: 2% 38.5%;
    }

    .logoSecS1, .logoSecS2, .logoSecS3 {
        /*position: absolute;  podría ser relative */
        width: 200px;
        height: 200px;
        left: 100px;
        top: 50px;
        margin: 0 56% 20% 26%;

    }

    .tituloDeSeccion1 h1 {
        line-height: 80px;
        font-size: 35px;
    }

    .tituloDeSeccion2 {
        justify-content: space-around;
    }

    .tituloDeSeccion2 div {
        width: 500px;
        font-size: 20pt;

    }

    .seccionSegunda2 {
        padding-top: 5%;
    }

    .seccionSegunda2 h3 {
        font-size: 10pt;
    }

    .espacio1 p, .espacio2 p, .espacio3 p, .espacio4 p {

        font-size: 10pt;
        padding: 2.5% 15%;

    }

    .titulosSeccionP h2 {
        font-size: 13pt;
    }

    .titulosSeccionP {
        height: 35px;
    }

    .logoSecP1 {
        content: url("../img/icono_360@3x.png");
        height: auto;
        width: 26.2%;
    }

    .logoSecP2 {
        content: url("../img/icono_camaras.png");
        height: auto;
        width: 20%;
        margin: 2% 41.5%;
    }

    .logoSecP3 {
        content: url("../img/icono_recomendacion.png");
        height: auto;
        width: 25%;
    }

    .logoSecP4 {
        content: url("../img/icono_pez.png");
        height: auto;
        width: 25%;
    }

    .logoSecS1 {
        content: url("../img/360.png");
        width: 50%;
        height: auto;
    }

    .logoSecS2 {
        content: url("../img/sub.png");
        width: 50%;
        height: auto;
    }

    .logoSecS3 {
        content: url("../img/comunidad.png");
        width: 50%;
        height: auto;
    }

    .espacio1, .espacio2, .espacio3, .espacio4 {
        margin-top: 5%;
        line-height: 16px;
    }

    .espacio5, .espacio6, .espacio7 {
        text-align: center;
    }

}

@media (max-width: 480px) {
    .tituloDeSeccion2 p {
        font-size: 20pt !important;
    }

    .tituloDeSeccion1 h1 {
        font-size: 25px;
    }
}

/*
 * -------------------- FOOTER --------------------
 */
footer {
    background: rgb(94, 134, 51);
    padding: 2% 0;
    font-family: 'Roboto', arial, serif;
    font-size: large;
    color: #fff;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.contactoRedesSociales {
    padding: 2%;
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.contactoRedesSociales > div a img {
    width: 70%;
    height: auto;
}

.avisos {
    padding: 2% 0;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.avisos div {
    margin: 0 2%;
}

.avisos div a {
    color: #fff;
}

.copyright {
    padding: 2% 0;
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media (max-width: 1650px) {
    .contactoRedesSociales, .avisos, .copyright {
        width: 1000px;
    }
}

@media (max-width: 728px) {
    .contactoRedesSociales > div a img {
        width: 50%;
        height: auto;
    }

    .facebook a img {
        content: url("../img/facebook@2x.png");
    }

    .twitter a img {
        content: url("../img/twitter@2x.png");
    }

    .instagram a img {
        content: url("../img/instagram@2x.png");
    }

    .youtube a img {
        content: url("../img/youtube@2x.png");
    }

    .vimeo a img {
        content: url("../img/vimeo@2x.png");
    }
}

@media (max-width: 480px) {
    .contactoRedesSociales {
        padding: 4%;
    }

    .contactoRedesSociales > div a img {
        width: 70%;
        height: auto;
    }

    .avisos {
        padding: 4% 0;
    }

    .avisos div {
        width: 200px;
    }

    .copyright {
        padding: 4% 0;
    }
}